
@model ProductCategoryViewVM


<h4>Product Category Delete</h4>

<h2>Are you sure you want to delete ?</h2>
<form method="post" asp-action="Delete">
	<input asp-for="ProductCategoryID" hidden />
	<div>
		<div>
			<h2>Delete Category</h2>
			<hr />
		</div>

		<div>
			<label asp-for="Name"></label>
			<input asp-for="Name" disabled />
		</div>
		<div>
			<label asp-for="Code"></label>
			<input asp-for="Code" disabled />
		</div>
		
		<button type="submit">Delete</button>
		<a asp-controller="ProductCategory" asp-action="Index">
			Back to List
		</a>
	</div>
</form>

@if (ViewBag.Error != null)
{
	<h6>@ViewBag.Error</h6>
}