@model ProductEditVM

<section class="w-3/4 mx-auto">
    <h4 class="mt-10 text-2xl font-bold leading-9 tracking-tight text-gray-900">Product Edit</h4>

    <div class="mt-10">
        <form method="post" class="space-y-6">
            <input type="hidden" asp-for="ProductID" />
            <div>
                <label for="Name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                <div class="mt-2">
                    <input type="text" asp-for="Name" placeholder="Enter Name" class="block w-6/12 rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 outline-none">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div>
                <label for="Price" class="block text-sm font-medium leading-6 text-gray-900">Price</label>
                <div class="mt-2">
                    <input type="text" asp-for="Price" placeholder="Enter product price" class="block w-6/12 rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 outline-none">
                    <span asp-validation-for="Price"></span>
                </div>
            </div>
            <div>
                <label for="Quantity" class="block text-sm font-medium leading-6 text-gray-900">Quantity</label>
                <div class="mt-2">
                    <input type="text" asp-for="Quantity" placeholder="Enter product quantity" class="block w-6/12 rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 outline-none">
                    <span asp-validation-for="Quantity"></span>
                </div>
            </div>
            <div>
                <label asp-for="ProductCategoryID" class="block text-sm font-medium leading-6 text-gray-900">Quantity</label>
                <div class="mt-2">
                    <select asp-items="Model.ProductCategories" asp-for="ProductCategoryID">
                        <option value="">Select ...</option>
                    </select>
                    <span asp-validation-for="ProductCategoryID"></span>
                </div>
            </div>
            <button type="submit" class="bg-green-600 text-white px-3 py-2 rounded-sm">Submit</button>
        </form>
    </div>
</section>
